<div class="jumbotron">

	<div class="thumbnail">
		<div class="caption">
			<%= link_to idea_path(idea) do %>
			<div class="idea_contents">
				<h3><%= idea.title %></h3>
				<h1><%= idea.description %></h1>
				<p class="posted_how_long_ago">Posted <%= time_ago_in_words(idea.created_at) %> ago by <%= idea.user.first_name + " " + idea.user.last_name %></p>

			</div>
			<%end%>
			<div class="idea_upvotes">
				<h3 id="count_<%= id_count %>"><%= idea.likes.count %></h3>

				<div class="like-form_container" id="form_<%= id_count %>">

					<% if signed_in? && current_user.liked_ideas.include?(idea) %>

					<%= render "ideas/unlike", idea: idea, id_count: id_count %>

					<% else %>

					<%= render "ideas/like", idea: idea, id_count: id_count %>

					<% end %>

				</div>


			</div>
		</div>
	</div>
</div>
